{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{show.movie.movie_name}} | MoviesHub</title>
{% endblock %}

{% block style %}
<style>
  .bottom {
    background-color: #213e42;
    padding: 15px;
  }
  
  .hall {
    margin-top: -65px;
    padding: 100px 0px 50px;
  }
  
  .hall__screen {
    background-image: url({{show.movie.movie_poster2.url}});
    margin: 0 auto;
    height: 230px;
    width: 850px;
    margin-bottom: -15px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 40px 55px -17px rgba(255, 255, 255, 0.2);
  }
  
  .seats {
    display: flex;
    flex-direction: column;
    transform: perspective(1000px) rotateX(50deg);
    width: 1000px;
    margin: 0px auto;
    align-items: center;
  }
  
  .seat {
      width: 39.6px;
      height: 44px;
      border-radius: 4px 4px 8px 8px;
      background: #cc1f2f;
      background: linear-gradient(#cc1f2f 0%, #cc1f2f 70%, #000 70%, #cc1f2f 77%);
      position: relative;
      border: 1px solid #000;
      margin: 5px;
      display: inline-block;
    }
    .seat:after, .seat:before {
      content: '';
      display: block;
      width: 7.3333333333px;
      height: 24.4444444444px;
      position: absolute;
      background: #cc1f2f;
      border-radius: 4px;
      border: 1px solid #000;
      bottom: 5.5px;
    }
    .seat:before {
      left: -4.4px;
    }
    .seat:after {
      right: -4.4px;
    }
    .seat.notvacant {
      background: #ccc;
      background: linear-gradient(#ccc 0%, #ccc 70%, #000 70%, #ccc 77%);
    }
    .seat.notvacant:before, .seat.notvacant:after {
      background: #ccc;
    }
    
    .space {
      width: 66px;
      display: inline-block;
    }
    
    
    
    
    
    
      input[type=checkbox] {
        visibility: hidden;
      }
      
       
      .seat label {
        cursor: pointer;
        position: absolute;
        background: #f1f1f100;
        border-radius: 0px 0px 3px 3px;
        width: 35px;
        height: 35px;
        left: 2px;
        top: 3px;
      }  
      .seat label:after {
        filter: alpha(opacity=0);
        opacity: 0;
        content: '';
        position: absolute;
        width: 30px;
        border-radius: 5px;
        height: 25px;
        background: #ff9800;
        top: 0;
        left: 2px;
    }
      
      .seat label:hover::after {
        filter: alpha(opacity=30);
        opacity: 0.3;
      }
      
      .seat input[type=checkbox]:checked + label:after {
        filter: alpha(opacity=100);
        opacity: 1;
      }
</style>
{% endblock %}




{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 hall" style="background: linear-gradient(360deg, black, #1f1f1f);">
      <form action="{% url 'booked' %}" method="POST"  id="book">
        {% csrf_token %}
        <input type="hidden" value="{{show.shows}}" name="show" readonly>


        <div class="hall__screen"></div>


        <div class="seats">

          <div class="row">
            <h3 class="text-white m-2">A</h3>
            <div class="seat" data-price="1000" id="A1">
              <input type="checkbox" value="#A1" id="seatA1" name="check" />
              <label for="seatA1"></label>
            </div>
            <div class="seat" data-price="1000" id="A2">
              <input type="checkbox" value="#A2" id="seatA2" name="check" />
              <label for="seatA2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" data-price="1000" id="A3">
              <input type="checkbox" value="#A3" id="seatA3" name="check" />
              <label for="seatA3"></label>
            </div>
            <div class="seat" data-price="1000" id="A4">
              <input type="checkbox" value="#A4" id="seatA4" name="check" />
              <label for="seatA4"></label>
            </div>
            <div class="seat" data-price="1000" id="A5">
              <input type="checkbox" value="#A5" id="seatA5" name="check" />
              <label for="seatA5"></label>
            </div>
            <div class="seat" data-price="1000" id="A6">
              <input type="checkbox" value="#A6" id="seatA6" name="check" />
              <label for="seatA6"></label>
            </div>
            <div class="seat" data-price="1000" id="A7">
              <input type="checkbox" value="#A7" id="seatA7" name="check" />
              <label for="seatA7"></label>
            </div>
            <div class="seat" data-price="1000" id="A8">
              <input type="checkbox" value="#A8" id="seatA8" name="check" />
              <label for="seatA8"></label>
            </div>
            <div class="space"></div>
            <div class="seat" data-price="1000" id="A9">
              <input type="checkbox" value="#A9" id="seatA9" name="check" />
              <label for="seatA9"></label>
            </div>
            <div class="seat" data-price="1000" id="A10">
              <input type="checkbox" value="#A10" id="seatA10" name="check" />
              <label for="seatA10"></label>
            </div>
          </div>

          <div class="row">
            <h3 class="text-white m-2">B</h3>
            <div class="seat" data-price="800"   id="B1">
              <input type="checkbox" value="#B1" id="seatB1" name="check" />
              <label for="seatB1"></label>
            </div>
            <div class="seat" data-price="800"   id="B2">
              <input type="checkbox" value="#B2" id="seatB2" name="check" />
              <label for="seatB2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" data-price="800"   id="B3">
              <input type="checkbox" value="#B3" id="seatB3" name="check" />
              <label for="seatB3"></label>
            </div>
            <div class="seat" data-price="800"   id="B4">
              <input type="checkbox" value="#B4" id="seatB4" name="check" />
              <label for="seatB4"></label>
            </div>
            <div class="seat" data-price="800"   id="B5">
              <input type="checkbox" value="#B5" id="seatB5" name="check" />
              <label for="seatB5"></label>
            </div>
            <div class="seat" data-price="800"   id="B6">
              <input type="checkbox" value="#B6" id="seatB6" name="check" />
              <label for="seatB6"></label>
            </div>
            <div class="seat" data-price="800"   id="B7">
              <input type="checkbox" value="#B7" id="seatB7" name="check" />
              <label for="seatB7"></label>
            </div>
            <div class="seat" data-price="800"   id="B8">
              <input type="checkbox" value="#B8" id="seatB8" name="check" />
              <label for="seatB8"></label>
            </div>
            <div class="space"></div>
            <div class="seat" data-price="800"   id="B9">
              <input type="checkbox" value="#B9" id="seatB9" name="check" />
              <label for="seatB9"></label>
            </div>
            <div class="seat" data-price="800"   id="B10">
              <input type="checkbox" value="#B10" id="seatB10" name="check" />
              <label for="seatB10"></label>
            </div>
          </div>

          <div class="row">
            <h3 class="text-white m-2">C</h3>
            <div class="seat" data-price="600" id="C1">
              <input type="checkbox" value="#C1" id="seatC1" name="check" />
              <label for="seatC1"></label>
            </div>
            <div class="seat" data-price="600" id="C2">
              <input type="checkbox" value="#C2" id="seatC2" name="check" />
              <label for="seatC2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" data-price="600" id="C3">
              <input type="checkbox" value="#C3" id="seatC3" name="check" />
              <label for="seatC3"></label>
            </div>
            <div class="seat" data-price="600" id="C4">
              <input type="checkbox" value="#C4" id="seatC4" name="check" />
              <label for="seatC4"></label>
            </div>
            <div class="seat" data-price="600" id="C5">
              <input type="checkbox" value="#C5" id="seatC5" name="check" />
              <label for="seatC5"></label>
            </div>
            <div class="seat" data-price="600" id="C6">
              <input type="checkbox" value="#C6" id="seatC6" name="check" />
              <label for="seatC6"></label>
            </div>
            <div class="seat" data-price="600" id="C7">
              <input type="checkbox" value="#C7" id="seatC7" name="check" />
              <label for="seatC7"></label>
            </div>
            <div class="seat" data-price="600" id="C8">
              <input type="checkbox" value="#C8" id="seatC8" name="check" />
              <label for="seatC8"></label>
            </div>
            <div class="space"></div>
            <div class="seat" data-price="600" id="C9">
              <input type="checkbox" value="#C9" id="seatC9" name="check" />
              <label for="seatC9"></label>
            </div>
            <div class="seat" data-price="600" id="C10">
              <input type="checkbox" value="#C10" id="seatC10" name="check" />
              <label for="seatC10"></label>
            </div>
          </div>

          <div class="row">
            <h3 class="text-white m-2">D</h3>
            <div class="seat" data-price="400" id="D1">
              <input type="checkbox" value="#D1" id="seatD1" name="check" />
              <label for="seatD1"></label>
            </div>
            <div class="seat" data-price="400" id="D2">
              <input type="checkbox" value="#D2" id="seatD2" name="check" />
              <label for="seatD2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" data-price="400" id="D3">
              <input type="checkbox" value="#D3" id="seatD3" name="check" />
              <label for="seatD3"></label>
            </div>
            <div class="seat" data-price="400" id="D4">
              <input type="checkbox" value="#D4" id="seatD4" name="check" />
              <label for="seatD4"></label>
            </div>
            <div class="seat" data-price="400" id="D5">
              <input type="checkbox" value="#D5" id="seatD5" name="check" />
              <label for="seatD5"></label>
            </div>
            <div class="seat" data-price="400" id="D6">
              <input type="checkbox" value="#D6" id="seatD6" name="check" />
              <label for="seatD6"></label>
            </div>
            <div class="seat" data-price="400" id="D7">
              <input type="checkbox" value="#D7" id="seatD7" name="check" />
              <label for="seatD7"></label>
            </div>
            <div class="seat" data-price="400" id="D8">
              <input type="checkbox" value="#D8" id="seatD8" name="check" />
              <label for="seatD8"></label>
            </div>
            <div class="space"></div>
            <div class="seat" data-price="400" id="D9">
              <input type="checkbox" value="#D9" id="seatD9" name="check" />
              <label for="seatD9"></label>
            </div>
            <div class="seat" data-price="400" id="D10">
              <input type="checkbox" value="#D10" id="seatD10" name="check" />
              <label for="seatD10"></label>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>


  <div class="row bottom" id="total-section" style="display:none;"> 
    <div class="col-9">
      <h1 class="text-white"> Total Price: Rs <span id="total-price"></span></h1>
      <h6 class="text-white"> Selected Seats: <span id="slots"></span></h6>
    </div>
    <div class="col-3">
      {% if user.is_authenticated %}
      <button type="submit" form="book" class="btn btn-lg btn-block btn-primary"> Confirm Booking </button>
      {% else %}
      <a href="/login" class="btn btn-lg btn-block btn-danger"> Login To Book </a>
      {% endif %}
    </div>
  </div>

</div>


{% endblock %}

{% block JQuery %}

{% for seat in seat%}
<script type="text/javascript">
  $("{{seat.useat}}").addClass("notvacant").children("input").prop("disabled", true);
  $("{{seat.useat}}").children("label").remove();
</script>
{% endfor %}

<script type="text/javascript">
  $(".seat").click(function () {
    var favorite = [];
    $.each($("input[name='check']:checked"), function () {
      favorite.push($(this).val());
    });

    $("#slots").empty().append(favorite.join(", "));

  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    // Calculate total price when a seat is clicked
    $(".seat input[type='checkbox']").change(function() {
      var favorite = [];
      var totalPrice = 0;

      // Iterate over checked checkboxes
      $("input[name='check']:checked").each(function() {
        var seatId = $(this).val();
        var seatPrice = $(this).closest('.seat').data('price');

        favorite.push(seatId);
        totalPrice += seatPrice;
      });

      // Update the displayed seat IDs and total price
      $("#slots").text(favorite.join(", "));
      $("#total-price").text(totalPrice);

    // Show or hide the total section
    if (totalPrice > 0) {
      $("#total-section").show();
      $("#total-price").show();
    } else {
      $("#total-section").hide();
    }
    });
  });
</script>



{% endblock %}